#studentList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin:20px 0;
}
.student{
    border:1px solid yellow;
    border-radius: 10px;
    padding: 10px;
}
h3{
    margin: 20px 0;
}

#studentTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin:20px 0;
}

.tabla{

td{
    border: 1px solid yellow;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;  
}
}
.caption{
    caption-side: top;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    background-color: yellow;
    color: black;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    
}
